
body {
  display: grid;
  background-color: rgba(170, 229, 248, 0.5);
  color: black;
  font-family: 'Lato', sans-serif;
}

#layout {
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.25rem;
  max-width: 100%;
}

h1 {
  font-size: 8vh;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

h2 {
  font-size: 3vh;
}

button {
  background-color: transparent;
  border: 2px solid rgb(66,111,197);
  color: rgb(66,111,197);
  font-size: 16px;
  padding: 8px 14px 8px 14px;
}

.decision-bar {
  text-align: center;
}

.decision-bar > button {
  background-color: rgba(255,255,255,0.5);
  border: 4px solid rgb(66,111,197);
  color: rgb(66,111,197);
  font-size: 24px;
  font-weight: 800;
  padding: 8px 14px 8px 14px;
}

#stop {
  color: rgb(197, 81, 66);
  border-color: rgb(197, 81, 66);
}

#test {
  color: rgb(197, 136, 66);
  border-color: rgb(197, 136, 66);
}

#run {
  color: rgb(70, 197, 66);
  border-color: rgb(70, 197, 66);
}