body {
  background-color: #2d7dd2;
  color: black;
  font-family: 'Lato', sans-serif;
  padding: 0px;
  margin: 0px;

}

/* Grid Layout */

#layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:repeat(5, 0.25fr) 0.1;
  grid-gap: 12px;
}

#layout * {
  font-size: 18px;
}

#title, #directories, #output, #actions, #footer {
  align-self: stretch;
}

/* Subgrid Layouts */

#directories {
  display: inline-grid;
  grid-gap: 12px;
  grid-template-rows: 0.25fr 0.25fr;
  grid-template-columns: 0.1fr auto;
}

#options {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}

#output {
  display: inline-grid;
  grid-gap: 12px;
  grid-template-columns: auto 0.01fr;
}

#actions {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 6em;
}

/* Styling  */

#title > h1 {
  font-size: 2.75em;
  font-weight: 800;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 0px;
  margin-bottom: 0px;
}

h2 {
  font-size: 3vh;
}

#directories > button {
  background-color: #d9a902;
  border: 0px solid transparent;
  color: black;
  font-weight: 800;
  padding: 1em 2em 1em 2em;
}

#directories > button:hover {
  background-color: #ae8702
}

#directories > span {
  background-color: #212021;
  color: white;
  border: 0px solid transparent;
  padding: 1em;
}

#output button {
  background-color: #d9a902;
  border: 0px solid transparent;
  color: black;
  font-weight: 800;
  padding: 1em 2em 1em 2em;
}

#output p {
  height: 8em;
  background-color: #212021;
  color: white;
  margin: 0px;
  padding: 1em;
}

#options button {
  width: auto;
  height: auto;
  background-color: #d9a902;
  border: 0px solid transparent;
  overflow: visible;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  padding: 10px;
}

#options > button:hover {
  background-color: #575657
}

#actions > button {
  border: 0px solid transparent;
  font-size: 28px;
  font-weight: 800;
}

#actions > #stop {
  color: black;
  background-color: #f45d01;
}

#actions > #test {
  color: black;
  background-color: #f2cc47;
}

#run {
  color: black;
  background-color: #a0d01a;
}

#footer {
  text-align: center;
  color: white;
}