body {
  background-color: #336faf;
  color: black;
  font-family: 'Lato', sans-serif;
  padding: 0px;
  margin: 0px;

}

/* Grid Layout */

#layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:repeat(5, 0.25fr) 0.1;
  grid-gap: 12px;
}

#title, #directories, #output, #actions, #footer {
  align-self: stretch;
}

/* Subgrid Layouts */

#directories {
  display: inline-grid;
  grid-gap: 12px;
  grid-template-rows: 0.25fr 0.25fr;
  grid-template-columns: 0.1fr auto;
}

#options {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}

#output {
  display: inline-grid;
  grid-gap: 12px;
  grid-template-columns: auto 0.01fr;
}

#actions {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 6em;
}

/* Styling, general  */

.hidden {
  visibility: hidden;
}

#title > h1 {
  font-size: 2.75em;
  font-weight: 800;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 0px;
  margin-bottom: 0px;
}

h2 {
  font-size: 3em;
}

#resultsPrompt {
  color: #ae8702;
  font-size: 3em;
}

#directories > span {
  background-color: #212021;
  color: white;
  border: 0px solid transparent;
  padding: 1em;
}

#output p {
  height: 4em;
  background-color: #212021;
  color: white;
  margin: 0px;
  padding: 1em;
}

#options button {
  width: auto;
  height: auto;
  background-color: #ffb74d;
  border: 0px solid transparent;
  overflow: visible;
  text-align: center;
  font-size: 16px;
  font-weight: 800;
  padding: 10px;
}

#options > button:hover {
  background: #ff9800;
}

#running {
  color: white;
}

#actions > button, #ready > button {
  border: 0px solid transparent;
  font-size: 28px;
  font-weight: 800;
}

#stop {
  color: black;
  background-color: #f45d01;
}

#ready {
  color: black;
  background-color: #ffb74d;
}

#ready:hover, #copyScript:hover {
  background-color: #ff9800;
}

#run {
  color: black;
  background-color: #a0d01a;
}

#footer {
  text-align: center;
  color: white;
}



/* Button arrow styles */

.btn:hover {
  background: #ff9800;
}

.btn:active {
  background: #ff8c37;
}

.btn.active:hover {
  background: #ff9800;
}

.btn {
  cursor: pointer;
  border: none;
  height: 36px;
  display: inline-block;
  box-sizing: border-box;
  margin: 0px;
  padding: 7px;
  vertical-align: middle;
  background: #ffb74d;
  font-weight: 800;
  line-height: 12px;
  width: 155px;
}

.arrow-right {
  position: relative;
  padding-left: 17.5px;
  padding-right: 17.5px;
}

.arrow-right:after {
  content: "";
  position: absolute;
  top: 5px;
  width: 26px;
  height: 26px;
  background: inherit;
  border: inherit;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.arrow-right:after {
  transform: rotate(45deg);
}

.arrow-right:after {
  right: -13px;
}
.arrow-right:after {
  z-index: 1;
}

.arrow-left {
  position: relative;
  padding-left: 17.5px;
  padding-right: 17.5px;
}

.arrow-left:before {
  content: "";
  position: absolute;
  top: 5px;
  width: 26px;
  height: 26px;
  background: inherit;
  border: inherit;
  border-left-color: transparent;
  border-bottom-color: transparent;
}

.arrow-left:before {
  transform: rotate(45deg);
}

.arrow-left:before {
  left: -13px;
}
.arrow-left:before {
  z-index: 1;
}

